Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Depends: java8-runtime
Description: [[description]]
Maintainer: marc.capdevielle@orange.com, pascale.borscia@orange.com, christophe.azemar@orange.com