<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Use a common patter for console and file logging -->
    <property name="LOG_PATTERN" value="%d [%.15thread] %-5level %logger{10} - %msg%n"/>
    <!-- File logging -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
    </appender>
    <root level="INFO">
        <appender-ref ref="file"/>
    </root>
</configuration>
